body{
    background-color: aqua;
    color: black; 
}
header{
    margin: 40px;
background-color:aqua ;
text-size-adjust: 80;
justify-content: center;
border:solid 5px rgb(red, rgb(13, 126, 201), blue)
padding 30px
section{background-color: aquamarine;
margin: 40;
display: flex;

padding: 30px ;
border: 20px;




}



